Section 2: Machine Learning

Task 3: Predictive Modeling (Classification)

1. Replace any missing or undefined values.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("heart_data.csv")

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
data.shape

(1025, 14)

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

Result:- No missing values found in the data

2. Convert categorical variables into numerical

In [12]:
cat_cols = data.select_dtypes(include=['object', 'category']).columns.tolist()

cat_cols = [c for c in cat_cols if c != 'target']

if cat_cols:
    data = pd.get_dummies(data, columns=cat_cols)

print("Encoded columns:", [c for c in data.columns if data[c].dtype in ('uint8','int64','float64')][:10])

Encoded columns: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak']

In [13]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [9]:
X = data.drop('target', axis=1)
y = data.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,
                                                    stratify=y)

scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)
X_std = scaler.transform(X)

In [10]:
def evaluate(model, X_train, X_test, y_train, y_test):
    y_test_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)

    print("TRAINIG RESULTS: \n===============================")
    clf_report = pd.DataFrame(classification_report(y_train, y_train_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_train, y_train_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_train, y_train_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")

    print("TESTING RESULTS: \n===============================")
    clf_report = pd.DataFrame(classification_report(y_test, y_test_pred, output_dict=True))
    print(f"CONFUSION MATRIX:\n{confusion_matrix(y_test, y_test_pred)}")
    print(f"ACCURACY SCORE:\n{accuracy_score(y_test, y_test_pred):.4f}")
    print(f"CLASSIFICATION REPORT:\n{clf_report}")

In [11]:
lr_clf = LogisticRegression(solver='liblinear', penalty='l1')
lr_clf.fit(X_train_std, y_train)

evaluate(lr_clf, X_train_std, X_test_std, y_train, y_test)

TRAINIG RESULTS:
===============================
CONFUSION MATRIX:
[[282  67]
 [ 28 340]]
ACCURACY SCORE:
0.8675
CLASSIFICATION REPORT:
                    0           1  accuracy   macro avg  weighted avg
precision    0.909677    0.835381  0.867503    0.872529      0.871545
recall       0.808023    0.923913  0.867503    0.865968      0.867503
f1-score     0.855842    0.877419  0.867503    0.866631      0.866917
support    349.000000  368.000000  0.867503  717.000000    717.000000
TESTING RESULTS:
===============================
CONFUSION MATRIX:
[[111  39]
 [ 16 142]]
ACCURACY SCORE:
0.8214
CLASSIFICATION REPORT:
                    0           1  accuracy   macro avg  weighted avg
precision    0.874016    0.784530  0.821429    0.829273      0.828111
recall       0.740000    0.898734  0.821429    0.819367      0.821429
f1-score     0.801444    0.837758  0.821429    0.819601      0.820073
support    150.000000  158.000000  0.821429  308.000000    308.000000